* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgba(218, 252, 241, 0.623);
}
.title {
  text-align: center;
}
.title h1 {
  display: inline;
  cursor: pointer;
}
.contant {
  margin: 30px;
}
.movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.movie-list {
  position: relative;
  background-color: rgba(219, 225, 231, 0.726);
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  width: 250px;
  height: 540px;
  margin: 10px;
  box-shadow: 3px 3px 5px rgba(49, 49, 49, 0.5);
}
.movie-list img {
  max-width: 100%;
  height: 375px;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.movie-info h5 {
  text-align: center;
}
.tags {
  background-color: #ffffffd8;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.tags.green {
  color: green;
}
.tags.orange {
  color: orange;
}
.tags.red {
  color: red;
}

.search {
  text-align: center;
  flex-grow: 9;
}
.search-input {
  width: 80%;
  padding: 8px;
  font-size: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.cart-container {
  background-color: rgba(255, 255, 255, 0.527);
  border-radius: 10px;
  margin: 10px 20px;
}
.cart-container h1 {
  text-align: center;
}
.cart-container h3 {
  text-align: center;
  color: rgb(240, 74, 74);
}

.cartElements {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  margin: 10px;
}

.btnAdd-Remove button {
  font-size: 30px;
  margin: 0 5px;
  color: #0f78f1;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #cfecdba9;
  cursor: pointer;
}
.flex-clear {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item1 {
  flex-grow: 10;
}
.item2 button {
  font-size: 20px;
  margin: 0 5px;
  color: #f14f0f;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #cfecdba9;
  cursor: pointer;
}

.total-Price {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  text-align: center;
  margin: 10px;
}
.total_btn {
  margin: 10px 0;
  text-align: end;
}

.Buy {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Buy-bg {
  background: rgba(0, 0, 0, 0.555);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.Buy-content {
  position: relative;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  padding: 30px;
  width: 500px;
  height: 300px;
}
.Buy-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Buy-confirm {
  text-align: center;
  
}
.Buy-confirm button{
  margin: 0;
  height: 50px;
  justify-self: center;
  font-size: 15px;
  font-weight: bold;
  color: #181715;
  border: 2px solid rgb(102, 179, 209);
  border-radius: 10px;
  background-color:#45aaf2;
  cursor: pointer;
  transition-duration: 0.4s;
}
.Buy-confirm button:hover {
  border: 2px solid white;
  background-color: #3867d6; /* Green */
  color: white;
}

.total-Price button {
  margin: 0;
  height: 50px;
  justify-self: center;
  font-size: 15px;
  font-weight: bold;
  color: #181715;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #4d98ee;
  cursor: pointer;
  transition-duration: 0.2s;
}
.total-Price button:hover {
  border: 2px solid white;
  background-color: #8eadfd8a; /* Green */
  color: white;
}
.totaltext {
  text-align: end;
}
.img-overlay {
  position: absolute;
  top: 0;
  bottom: 165px;
  left: 0px;
  right: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(0, 0, 0, 0.527);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.img-title {
  text-align: center;
  font-size: 15px;
  overflow: hidden;
}

.img-overlay:hover {
  opacity: 1;
}

.img-overlay-blur {
  backdrop-filter: blur(2px);
}

/* ราคา */
.price {
  text-align: center;
  padding: 10px;
}

.Price_addToCart {
  display: flex;
  justify-content: center;
  text-align: center;
}
.Price_addToCart button {
  font-size: 15px;
  margin: 0 5px;
  padding: 10px;
  color: #f1c40f;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  transition-duration: 0.2s;
}
.Price_addToCart button:hover {
  background-color: #f7cd12; /* Green */
  color: white;
}
